Repository ForgedWithPassion/haven: changes, and which lint-staged commands are due for each by the changed paths.
All: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write, gofmt -w

fix(ci): use golangci-lint v2 for config compatibility
  .github/workflows/ci.yml
Due: none

fix(ci): use golangci-lint-action v7 for golangci-lint v2 support
  .github/workflows/ci.yml
Due: none

fix(ci): use golangci-lint v2.7.2 to match local version
  .github/workflows/ci.yml
Due: none

fix: remove deprecated exclude-use-default from golangci config
  relay/.golangci.yml
Due: none

fix(ci): allow terraform plan to run when build is skipped
  .github/workflows/deploy.yml
Due: none

fix(infra): add dns record for subdomain
  infra/dns.tf
Due: none

feat(ci): add environment support for environment-specific secrets
  .github/workflows/deploy.yml
Due: none

fix(client): use wss when loaded over https
  client/src/hooks/useWebSocket.ts
  client/src/services/websocket.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

feat(client): add room member status display
  client/src/components/App.tsx
  client/src/components/RoomChat.tsx
  client/src/components/SystemMessage.tsx
  client/src/hooks/useWebSocket.ts
  client/src/index.css
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix: preserve room membership on disconnect
  client/src/components/App.tsx
  client/src/storage/schema.ts
  relay/internal/hub/hub.go
  relay/internal/hub/hub_test.go
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write, gofmt -w

refactor(client): move discover rooms to collapsible section
  client/src/components/App.tsx
  client/src/components/PublicRooms.tsx
  client/src/components/RoomList.tsx
  client/src/components/index.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

feat(client): add chat system messages and favorites
  client/src/components/App.tsx
  client/src/components/Chat.test.tsx
  client/src/components/Chat.tsx
  client/src/components/SystemMessage.tsx
  client/src/components/UserList.test.tsx
  client/src/components/UserList.tsx
  client/src/storage/favorites.test.ts
  client/src/storage/favorites.ts
  client/src/storage/index.ts
  client/src/storage/schema.ts
  client/src/test/setup.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): show all favorites with online/offline status
  client/src/components/App.tsx
  client/src/components/UserList.test.tsx
  client/src/components/UserList.tsx
  client/src/storage/favorites.test.ts
  client/src/storage/favorites.ts
  client/src/storage/schema.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): fix repeated offline messages and undefined username
  client/src/components/App.tsx
  client/src/components/UserList.tsx
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): mobile ui improvements for chat views
  client/src/components/App.tsx
  client/src/components/Chat.tsx
  client/src/components/RoomChat.tsx
  client/src/hooks/index.ts
  client/src/hooks/useVisualViewport.ts
  client/src/index.css
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): apply keyboard height constraint to chat container
  client/src/components/App.tsx
  client/src/index.css
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): fix chat scroll issues
  client/src/components/Chat.tsx
  client/src/components/RoomChat.tsx
  client/src/index.css
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): use high-res logo on login screen
  client/src/components/Login.tsx
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): replace haven text with logo on login screen
  client/src/components/Login.tsx
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

feat(relay): replace json storage with postgresql
  docker-compose.yml
  relay/cmd/haven/main.go
  relay/go.mod
  relay/go.sum
  relay/internal/config/config.go
  relay/internal/hub/hub.go
  relay/internal/protocol/messages.go
  relay/internal/storage/postgres/cleanup.go
  relay/internal/storage/postgres/cleanup_test.go
  relay/internal/storage/postgres/db.go
  relay/internal/storage/postgres/db_test.go
  relay/internal/storage/postgres/members.go
  relay/internal/storage/postgres/members_test.go
  relay/internal/storage/postgres/messages.go
  relay/internal/storage/postgres/messages_test.go
  relay/internal/storage/postgres/rooms.go
  relay/internal/storage/postgres/rooms_test.go
  relay/internal/storage/postgres/testutil.go
  relay/internal/storage/postgres/users.go
  relay/internal/storage/postgres/users_test.go
  relay/internal/storage/rooms.go
  relay/internal/storage/rooms_test.go
  relay/internal/storage/users.go
  relay/migrations/001_initial_schema.down.sql
  relay/migrations/001_initial_schema.up.sql
  relay/migrations/embed.go
Due: gofmt -w

fix(relay): use database userid for room membership and operations
  docker-compose.yml
  relay/Dockerfile
  relay/cmd/haven/main.go
  relay/internal/client/client.go
  relay/internal/hub/hub.go
  relay/internal/storage/postgres/db.go
Due: gofmt -w

feat(relay): include chat history when joining rooms
  client/src/hooks/useWebSocket.ts
  client/src/services/protocol.ts
  client/src/services/websocket.ts
  relay/cmd/haven/main.go
  relay/internal/protocol/messages.go
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write, gofmt -w

fix(ci): separate integration tests with build tags
  .github/workflows/ci.yml
  relay/internal/storage/postgres/cleanup_test.go
  relay/internal/storage/postgres/db_test.go
  relay/internal/storage/postgres/members_test.go
  relay/internal/storage/postgres/messages_test.go
  relay/internal/storage/postgres/rooms_test.go
  relay/internal/storage/postgres/users_test.go
Due: gofmt -w

fix(ci): fix testcontainers connection race condition
  relay/internal/storage/postgres/testutil.go
Due: gofmt -w

fix(ci): add dns and ssh retry logic for deployments
  .github/workflows/deploy.yml
Due: none

fix(client): auto-scroll chat on new messages
  client/src/components/Chat.tsx
  client/src/components/RoomChat.tsx
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(docker): add postgres service to production compose
  docker-compose.prod.yml
Due: none

fix(docker): add postgres service to production compose (#13)
  docker-compose.prod.yml
Due: none

fix(client): auto-scroll chat on new messages (#12)
  client/src/components/Chat.tsx
  client/src/components/RoomChat.tsx
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(relay): prevent websocket timeout and connection drops
  relay/internal/client/client.go
Due: gofmt -w

fix(relay): prevent websocket timeout and connection drops (#14)
  relay/internal/client/client.go
Due: gofmt -w

feat(client): add borderless pwa support with standalone display mode
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/components/App.tsx
  client/src/components/PWAUpdateBanner.tsx
  client/src/hooks/usePWA.ts
  client/src/index.css
  client/src/utils/platform.ts
  client/src/vite-pwa.d.ts
  client/vite.config.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

feat(client): add browser notifications for new messages
  .session_properties.HN
  client/src/components/App.tsx
  client/src/components/Settings.test.tsx
  client/src/components/Settings.tsx
  client/src/hooks/useNotifications.test.ts
  client/src/hooks/useNotifications.ts
  client/src/hooks/useWebSocket.ts
  client/src/utils/notifications.test.ts
  client/src/utils/notifications.ts
  client/src/utils/platform.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): fix typescript errors in notification tests
  client/src/utils/notifications.test.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): refresh notification permission on visibility change
  client/src/hooks/useNotifications.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

feat(client): add borderless pwa support with standalone display mode (#15)
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/components/App.tsx
  client/src/components/PWAUpdateBanner.tsx
  client/src/hooks/usePWA.ts
  client/src/index.css
  client/src/utils/platform.ts
  client/src/vite-pwa.d.ts
  client/vite.config.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

feat(client): add internal app notifications with badges
  client/index.html
  client/src/components/App.tsx
  client/src/components/UserList.test.tsx
  client/src/components/UserList.tsx
  client/src/hooks/index.ts
  client/src/hooks/useAppBadge.test.ts
  client/src/hooks/useAppBadge.ts
  client/src/utils/appBadge.test.ts
  client/src/utils/appBadge.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

feat(client): add browser and internal app notifications (#16)
  .session_properties.HN
  client/index.html
  client/src/components/App.tsx
  client/src/components/Settings.test.tsx
  client/src/components/Settings.tsx
  client/src/components/UserList.test.tsx
  client/src/components/UserList.tsx
  client/src/hooks/index.ts
  client/src/hooks/useAppBadge.test.ts
  client/src/hooks/useAppBadge.ts
  client/src/hooks/useNotifications.test.ts
  client/src/hooks/useNotifications.ts
  client/src/hooks/useWebSocket.ts
  client/src/utils/appBadge.test.ts
  client/src/utils/appBadge.ts
  client/src/utils/notifications.test.ts
  client/src/utils/notifications.ts
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

fix(client): mark dm messages as read to clear notification badges
  client/src/components/App.tsx
Due: client/node_modules/.bin/eslint --config client/eslint.config.js --fix, client/node_modules/.bin/prettier --write

Path conditions:
  client/node_modules/.bin/eslint --config client/eslint.config.js --fix: any of: client/**/*.{ts,tsx}
  client/node_modules/.bin/prettier --write: (any of: client/**/*.{ts,tsx}) or (any of: client/**/*.{json,css})
  gofmt -w: any of: relay/**/*.go
